<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"/>
	    <title>About</title>
   
   <link th:href="@{/styles/css/about.css}" rel="stylesheet" />	

    
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#"></a>
            <a class="nav-link" href="#"></a>
            <a class="nav-link active" th:href="@{/}">Home</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Shop in Salerno.</h1>
        
        <h3 class="cover-heading">A new concept of shop food.</h3>
        
        <p class="lead">
        	Shop in Salerno, is a new concept of buy food.
        	Salerno shop is a store primarily engaged in retailing a general 
        	range of food products through web application.        	
        </p>
       		
       <p class="lead">
       		Our online shop includes over 3,000 items that families know they can trust. 
       		These are products you can only find at Salerno Shop. 
       		Family of Stores, and we stand behind each and every one of them with 
       		our quality guarantee. If you're not delighted, let us know and 
       		we'll make it right with a replacement or refund.
       </p>
       
       <br>
       
       <p class="lead">
       		<h4>FREE DELIVERY</h4>
       		Use code FREE4Salerno2K to get all the snacks you love like pizza, hamburgers 
       		and ice cream delivered for FREE.
       </p>
       
       
      </main>

      
    </div>


   
  

</body></html>