<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
	    <meta charset="UTF-8"/>
	    <title></title>
		    
		<link th:href="@{/styles/css/homepage.css}" rel="stylesheet" />
		<script type="text/javascript" th:src="@{/js/alertItemFile.js}"></script>
	</head>
	
	 <body>
        
        <!-- NAV BAR -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Salerno FoodShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page"  th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/items/all}">Products</a></li>
                       
                        
                    </ul>
                    <!-- <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form> -->
                    <form class="d-flex" th:action="@{/login}">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            LogIn
                            <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- END NAV BAR -->
        
        <!-- <!-- Product section-->
        <section class="py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    
                    <!-- <div >
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 th:text="'Product '${infoPage}" class="display-5 fw-bolder">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$45.00</span>
                            <span>$40.00</span>
                        </div>
                        
                    </div> -->
                </div>
            </div>
        </section> 
        
        <!-- ITEMS SECTION -->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 th:text="'Related '+${infoPage}+' products'" class="fw-bolder mb-4"></h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    <!-- PRODUCT SECTION -->
                   
                    <div th:each="item: ${products}" class="col mb-5">
                        <div class="card h-100">                                                
                                                 
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{'/images/'+${foodstuff}+${item.getPathImage()}}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 th:text= "${item.getName()}" class="fw-bolder"></h5>
                                    <!-- Product price-->
                                    <div th:text= "'€'+${item.getPrice()}"></div> 
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                               
										<button class="btn btn-outline-dark mt-auto" id="show1"
		                            	th:onclick="showAlert()">	
		                                		Description
	                                	</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   
                    
                    <!-- END PRODUCT SECTION -->
                    
                </div>
            </div>
        </section>
        
        <!-- END ITEMS SECTION -->

		<!-- FOOTER-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Ferrara Software Engineering 2021</p></div>
        </footer>        

    </body>
	
	
	

</html>